In [1]:
import pandas as pd

In [3]:
oly_s = pd.read_csv("data/summer.csv")
oly_s

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [4]:
oly_w = pd.read_csv ("data/winter.csv")

In [5]:
oly_w

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, AndrÃ©",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold
...,...,...,...,...,...,...,...,...,...
5765,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze
5766,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold
5767,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver
5768,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold
5769,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze

In [6]:
oly_s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31165 entries, 0 to 31164
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Athlete     31165 non-null  object
 5   Country     31161 non-null  object
 6   Gender      31165 non-null  object
 7   Event       31165 non-null  object
 8   Medal       31165 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.1+ MB

In [ ]:
##OBJECT MEANS 'its a word or a string'

In [7]:
#WInter what do we have here
oly_w.Year

0       1924
1       1924
2       1924
3       1924
4       1924
        ...
5765    2014
5766    2014
5767    2014
5768    2014
5769    2014
Name: Year, Length: 5770, dtype: int64

In [8]:
#other: call dataframe and then return a series

#df ['ColumnName'] also redurns a Pandas series
oly_w["Year"]

0       1924
1       1924
2       1924
3       1924
4       1924
        ...
5765    2014
5766    2014
5767    2014
5768    2014
5769    2014
Name: Year, Length: 5770, dtype: int64

In [ ]:
#WHICH WAY IS BETTER? METHOD #2, list method

In [11]:
df = oly_w [["Year","City"]]
df.sample (10)

      Year         City
1173  1964    Innsbruck
1194  1968     Grenoble
1034  1964    Innsbruck
2415  1988      Calgary
4975  2010    Vancouver
1040  1964    Innsbruck
4807  2010    Vancouver
45    1924     Chamonix
453   1948    St.Moritz
3001  1994  Lillehammer

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5770 entries, 0 to 5769
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    5770 non-null   int64
 1   City    5770 non-null   object
dtypes: int64(1), object(1)
memory usage: 90.3+ KB

In [ ]:
## HOW TO SORR df_name.sort_values(by=["Value 1","Value 2"]), ascending = True for A_Z or smaller to larger, decending for opposite

In [13]:
#sort by values 
#this one is CITY NAME
#city_yr_sort = df.sort_values (by=["City","Year"], ascending=True)

In [14]:
#city_yr_sort

      Year         City
2502  1992  Albertville
2503  1992  Albertville
2504  1992  Albertville
2505  1992  Albertville
2506  1992  Albertville
...    ...          ...
5153  2010    Vancouver
5154  2010    Vancouver
5155  2010    Vancouver
5156  2010    Vancouver
5157  2010    Vancouver

[5770 rows x 2 columns]

In [15]:
#SORT BY YEAR
#city_yr_sort = df.sort_values(by=["Year","City"], ascending=True)

In [16]:
#city_yr_sort

      Year      City
0     1924  Chamonix
1     1924  Chamonix
2     1924  Chamonix
3     1924  Chamonix
4     1924  Chamonix
...    ...       ...
5765  2014     Sochi
5766  2014     Sochi
5767  2014     Sochi
5768  2014     Sochi
5769  2014     Sochi

[5770 rows x 2 columns]

In [20]:
city_yr_sort = df.sort_values(by=["City","Year"], ascending=False)

city_yr_sort

      Year         City
4629  2010    Vancouver
4630  2010    Vancouver
4631  2010    Vancouver
4632  2010    Vancouver
4633  2010    Vancouver
...    ...          ...
2822  1992  Albertville
2823  1992  Albertville
2824  1992  Albertville
2825  1992  Albertville
2826  1992  Albertville

[5770 rows x 2 columns]

In [22]:
#should winter and summer data remain separate ? depends on question

#in oly_s, add new column
oly_s ["Season"] = "Summer"

In [23]:
oly_s.head

<bound method NDFrame.head of        Year    City      Sport           Discipline  \
0      1896  Athens   Aquatics             Swimming
1      1896  Athens   Aquatics             Swimming
2      1896  Athens   Aquatics             Swimming
3      1896  Athens   Aquatics             Swimming
4      1896  Athens   Aquatics             Swimming
...     ...     ...        ...                  ...
31160  2012  London  Wrestling  Wrestling Freestyle
31161  2012  London  Wrestling  Wrestling Freestyle
31162  2012  London  Wrestling  Wrestling Freestyle
31163  2012  London  Wrestling  Wrestling Freestyle
31164  2012  London  Wrestling  Wrestling Freestyle

                         Athlete Country Gender                       Event  \
0                  HAJOS, Alfred     HUN    Men              100M Freestyle
1               HERSCHMANN, Otto     AUT    Men              100M Freestyle
2              DRIVAS, Dimitrios     GRE    Men  100M Freestyle For Sailors
3             MALOKINIS, Ioannis     GRE    Men  100M Freestyle For Sailors
4             CHASAPIS, Spiridon     GRE    Men  100M Freestyle For Sailors
...                          ...     ...    ...                         ...
31160         JANIKOWSKI, Damian     POL    Men                    Wg 84 KG
31161  REZAEI, Ghasem Gholamreza     IRI    Men                    Wg 96 KG
31162             TOTROV, Rustam     RUS    Men                    Wg 96 KG
31163          ALEKSANYAN, Artur     ARM    Men                    Wg 96 KG
31164             LIDBERG, Jimmy     SWE    Men                    Wg 96 KG

        Medal  Season
0        Gold  Summer
1      Silver  Summer
2      Bronze  Summer
3        Gold  Summer
4      Silver  Summer
...       ...     ...
31160  Bronze  Summer
31161    Gold  Summer
31162  Silver  Summer
31163  Bronze  Summer
31164  Bronze  Summer

[31165 rows x 10 columns]>

In [24]:
oly_w ["Season"] = "Winter"

In [25]:
oly_w.head

<bound method NDFrame.head of       Year      City     Sport Discipline               Athlete Country  \
0     1924  Chamonix  Biathlon   Biathlon           BERTHET, G.     FRA
1     1924  Chamonix  Biathlon   Biathlon        MANDRILLON, C.     FRA
2     1924  Chamonix  Biathlon   Biathlon   MANDRILLON, Maurice     FRA
3     1924  Chamonix  Biathlon   Biathlon       VANDELLE, AndrÃ©     FRA
4     1924  Chamonix  Biathlon   Biathlon  AUFDENBLATTEN, Adolf     SUI
...    ...       ...       ...        ...                   ...     ...
5765  2014     Sochi    Skiing  Snowboard          JONES, Jenny     GBR
5766  2014     Sochi    Skiing  Snowboard       ANDERSON, Jamie     USA
5767  2014     Sochi    Skiing  Snowboard    MALTAIS, Dominique     CAN
5768  2014     Sochi    Skiing  Snowboard          SAMKOVA, Eva     CZE
5769  2014     Sochi    Skiing  Snowboard      TRESPEUCH, Chloe     FRA

     Gender            Event   Medal  Season
0       Men  Military Patrol  Bronze  Winter
1       Men  Military Patrol  Bronze  Winter
2       Men  Military Patrol  Bronze  Winter
3       Men  Military Patrol  Bronze  Winter
4       Men  Military Patrol    Gold  Winter
...     ...              ...     ...     ...
5765  Women       Slopestyle  Bronze  Winter
5766  Women       Slopestyle    Gold  Winter
5767  Women  Snowboard Cross  Silver  Winter
5768  Women  Snowboard Cross    Gold  Winter
5769  Women  Snowboard Cross  Bronze  Winter

[5770 rows x 10 columns]>

In [26]:
oly_w

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Season
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze,Winter
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze,Winter
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze,Winter
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, AndrÃ©",FRA,Men,Military Patrol,Bronze,Winter
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold,Winter
...,...,...,...,...,...,...,...,...,...,...
5765,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze,Winter
5766,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold,Winter
5767,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver,Winter
5768,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold,Winter
5769,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze,Winter

In [28]:
oly_s

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Season
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,Summer
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,Summer
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,Summer
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,Summer
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,Summer
...,...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze,Summer
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold,Summer
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver,Summer
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze,Summer
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze,Summer

In [32]:
list(oly_w.columns) == list(oly_s.columns)

True

In [33]:
join_list = [oly_s, oly_w]
oly = pd.concat (join_list, sort=True)
oly

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
0,"HAJOS, Alfred",Athens,HUN,Swimming,100M Freestyle,Men,Gold,Summer,Aquatics,1896
1,"HERSCHMANN, Otto",Athens,AUT,Swimming,100M Freestyle,Men,Silver,Summer,Aquatics,1896
2,"DRIVAS, Dimitrios",Athens,GRE,Swimming,100M Freestyle For Sailors,Men,Bronze,Summer,Aquatics,1896
3,"MALOKINIS, Ioannis",Athens,GRE,Swimming,100M Freestyle For Sailors,Men,Gold,Summer,Aquatics,1896
4,"CHASAPIS, Spiridon",Athens,GRE,Swimming,100M Freestyle For Sailors,Men,Silver,Summer,Aquatics,1896
...,...,...,...,...,...,...,...,...,...,...
5765,"JONES, Jenny",Sochi,GBR,Snowboard,Slopestyle,Women,Bronze,Winter,Skiing,2014
5766,"ANDERSON, Jamie",Sochi,USA,Snowboard,Slopestyle,Women,Gold,Winter,Skiing,2014
5767,"MALTAIS, Dominique",Sochi,CAN,Snowboard,Snowboard Cross,Women,Silver,Winter,Skiing,2014
5768,"SAMKOVA, Eva",Sochi,CZE,Snowboard,Snowboard Cross,Women,Gold,Winter,Skiing,2014
5769,"TRESPEUCH, Chloe",Sochi,FRA,Snowboard,Snowboard Cross,Women,Bronze,Winter,Skiing,2014

In [35]:
oly.shape [0] == oly_w.shape[0] + oly_s.shape [0]

True

In [ ]:
#confirm programmatically that the rows add up ^ see above

In [36]:
oly.to_csv ("olympics.csv", encoding = "UTF-8", index=False)

In [ ]:
#SUBSETS
#say you want to find all the data for one city
#Sochi subset
#df[df['column_name']] == "value_in_column"

In [40]:
#you can just look at it like this
oly[oly["City"] == "Sochi"]

#or, you can save that a new df if you add df_sochi =

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
5158,"LANDERTINGER, Dominik",Sochi,AUT,Biathlon,10KM,Men,Silver,Winter,Biathlon,2014
5159,"SOUKUP, Jaroslav",Sochi,CZE,Biathlon,10KM,Men,Bronze,Winter,Biathlon,2014
5160,"BJOERNDALEN, Ole Einar",Sochi,NOR,Biathlon,10KM,Men,Gold,Winter,Biathlon,2014
5161,"MORAVEC, Ondrej",Sochi,CZE,Biathlon,12.5Km Pursuit,Men,Silver,Winter,Biathlon,2014
5162,"BEATRIX, Jean Guillaume",Sochi,FRA,Biathlon,12.5Km Pursuit,Men,Bronze,Winter,Biathlon,2014
...,...,...,...,...,...,...,...,...,...,...
5765,"JONES, Jenny",Sochi,GBR,Snowboard,Slopestyle,Women,Bronze,Winter,Skiing,2014
5766,"ANDERSON, Jamie",Sochi,USA,Snowboard,Slopestyle,Women,Gold,Winter,Skiing,2014
5767,"MALTAIS, Dominique",Sochi,CAN,Snowboard,Snowboard Cross,Women,Silver,Winter,Skiing,2014
5768,"SAMKOVA, Eva",Sochi,CZE,Snowboard,Snowboard Cross,Women,Gold,Winter,Skiing,2014
5769,"TRESPEUCH, Chloe",Sochi,FRA,Snowboard,Snowboard Cross,Women,Bronze,Winter,Skiing,2014

In [44]:
#data count, how often does something happen

df_sochi = oly[oly["City"] == "Sochi"]
df_sochi

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
5158,"LANDERTINGER, Dominik",Sochi,AUT,Biathlon,10KM,Men,Silver,Winter,Biathlon,2014
5159,"SOUKUP, Jaroslav",Sochi,CZE,Biathlon,10KM,Men,Bronze,Winter,Biathlon,2014
5160,"BJOERNDALEN, Ole Einar",Sochi,NOR,Biathlon,10KM,Men,Gold,Winter,Biathlon,2014
5161,"MORAVEC, Ondrej",Sochi,CZE,Biathlon,12.5Km Pursuit,Men,Silver,Winter,Biathlon,2014
5162,"BEATRIX, Jean Guillaume",Sochi,FRA,Biathlon,12.5Km Pursuit,Men,Bronze,Winter,Biathlon,2014
...,...,...,...,...,...,...,...,...,...,...
5765,"JONES, Jenny",Sochi,GBR,Snowboard,Slopestyle,Women,Bronze,Winter,Skiing,2014
5766,"ANDERSON, Jamie",Sochi,USA,Snowboard,Slopestyle,Women,Gold,Winter,Skiing,2014
5767,"MALTAIS, Dominique",Sochi,CAN,Snowboard,Snowboard Cross,Women,Silver,Winter,Skiing,2014
5768,"SAMKOVA, Eva",Sochi,CZE,Snowboard,Snowboard Cross,Women,Gold,Winter,Skiing,2014
5769,"TRESPEUCH, Chloe",Sochi,FRA,Snowboard,Snowboard Cross,Women,Bronze,Winter,Skiing,2014

In [45]:
df_sochi["Gender"].value_counts()

Men      340
Women    272
Name: Gender, dtype: int64

In [47]:
oly["Medal"].value_counts()

Gold      12407
Bronze    12288
Silver    12240
Name: Medal, dtype: int64